@import url('modern-normalize/modern-normalize.css');

body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
  max-width: 1440px;
  min-height: 768px;
  margin: 36px 156px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 4px;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.04);
}

.form {
  width: 400px;
  display: flex;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.form > input {
  width: 272px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > input:hover {
  border-color: #000000;
}

.form > input:focus {
  border-color: #4E75FF;
}

.form > button {
  width: 92px;
  padding: 8px 16px;
  background: #4E75FF;
  color: #FFF;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form > button:hover,
.form > button:focus {
  background-color: #6C8CFF;
}

.info {
  display: flex;
  gap: 28px;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-category {
  font-weight: 600;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #4E75FF;
  border-top-color: #4E75FF;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 156px auto;
}

.hidden {
  display: none;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.arrow {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  border: solid #808080;
  border-width: 0 5px 5px 0;
  padding: 3px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.right {
  right: 0;
  transform: rotate(-45deg);
}

.right:hover {
  transform: scale(1.2) rotate(-45deg);
  border-color: #000000;
}

.left {
  left: 0;
  transform: rotate(135deg);
}

.left:hover {
  transform: scale(1.2) rotate(135deg);
  border-color: #000000;
}

.page {
  display: block;
  text-align: center;
  font-weight: 600;
  margin: 32px auto;
}